<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MultiPolls</title>
    <!-- <script src="https://unpkg.com/vue-router@3.5.1/dist/vue-router.js"></script> -->
    <!-- <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script> -->
    <!-- <script src="https://unpkg.com/vuetify@2.4.9/dist/vuetify.min.js"></script> -->
</head>

<body>
{% block content %} {% endblock %}
</body>

</html>